li {
  color: red;
}
.moon {
  color: yellow;
}
#calisto-text {
  font-size: 25px;
  color: white;
}
h1 {
  font-size: 50px;
  background-color: blue;
  border: 3px dashed yellow;
}
body {
  background-image: url("https://images.wallpaperscraft.com/image/single/pineapple_oranges_lemons_861869_3840x2160.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
