@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap");
.post-container {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #fffafa;
}
h1 {
  font-family: Montserrat, Arial, sans-serif;
}
.date {
  font-family: Roboto, Arial, sans-serif;
  color: #008080;
}
.post-content {
  font-family: Open Sans, Arial, sans-serif;
}
.post {
  padding: 20px 50px 20px 50px;
}
body {
  margin: 0px;
}
